@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;
 


@font-face {
  font-display: block;
  font-family: Nico Moji;
  font-style: normal;
  font-weight: 400;
  src: url("/font/NicoMoji-Regular.ttf") format('truetype');
}
 
@layer base {

  body {
    @apply bg-ews-100 text-ews-300 font-poppins;
  }
}